* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    font-family: "Poppins",sans-serif;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
a,
p{
    color: var(--el-color);
}
a{
    text-decoration: none;
}
h1{
    font-size: 2.5rem;
}
h2{
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
}
h3{
    font-weight: 600;
}
p{
    font-weight: 300;
}
.m-t {
    margin-top: 150px;
}
.m-b {
    margin-bottom: 100px;
}

.container {
    width: 60%;
    margin: auto;
    
}
html{
    overflow-x: hidden;
    scroll-padding-top: 7rem;
    scroll-behavior: smooth;
}
/* Header Section */

.dropdwn{
    margin: 0 auto;

}
nav{
    height: 80px;
    background: blue;
    box-shadow: 0 10px 15px blue;
}
.logo{
    width: 80%;
    height: auto;
    margin-right: 30px;
    font-size: 35px;
    border: 1px solid;
    color: blue;
    background: white;
    border-radius: 10px;
    margin-left: 0px;

}
 nav ul{
    padding: 0;
    margin: 0;
    float: right;
    margin-right: 30px;
    
}
nav ul li{
    position: relative;
    list-style: none;
    display: inline-block;
}
nav ul li a{
    display: block;
    padding: 0 15px;
    text-decoration: none;
    color: white;
    line-height: 60px;
    font-size: 20px;
}   
nav ul li a:hover{
    background: #243342;



}
nav ul ul{
    position: absolute;
    top: 60px;
    display: none;
}
nav ul li:hover > ul{
    display: block;
}
nav ul ul li{
    width: 150px;
    float: none;
    display: list-item;
    position: relative;
}
nav ul ul ul li{
    position: relative;
    top: -60px;
}
.checkbtn{
    cursor: pointer;
    color: white;
    font-size: 30px;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none  ;
}
#check{
    display: none;
}

.dropdwn .btn{
    font-size: 2.5rem;
    border-radius: .5rem;
    background: #eee;
    color: var(--green);
    padding: 1rem 1.5rem;
    cursor: pointer;
    float: right;
}



/*  About */
.about .about-image{
    width: 65%;
    float: right;
    margin-bottom: 30px;
}
.abot-image{
    max-width: 100;
    height: auto;
}
.about .about-content{
    width: 45%;
    float: left;
    text-align: left;
    margin-top: 90px;
    color: white;
}

.about .Line{
    width: 150px;
    height: 6px;

}
.btn{
    margin-top: 30px;
}
.btn input{
    padding: 10px;
    width: 55%;
    border-radius: 10px;
    background-color: blue;
    border: 1px solid white;
}
.btn button{
    padding: 10px;
    
    border: none;
    background-color: red;
    border-radius: 2px;
}


.heading{
    text-align: center;
    padding-bottom: 1rem;
    text-shadow: var(--text-shadow);
}

.selling .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
    gap: 1rem;
    padding: 20px;
}
.selling .box-container .box{
    background: .5rem;
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    border: var(--border);
    padding: 10px;
    border: 1px solid black;
    margin-right: 0px;

}


#credit{
    padding: 100px 50px;
}
.credit-row{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.credit-left-col{
    flex-basis: 30%;

}
.credit-left-col img{
    width: 80%;
}
.c-btn{
    padding: 15px;
    background: red;
    color: white;
    border: 1px solid black;
}

/* Service */

.service {
    text-align: center;
    padding-bottom: 1rem;
    text-shadow: var(--text-shadow);
    margin-top: 30px;
}
 
.service .service-box {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 1rem;
    padding: 20px;
    

}


.service .service-box .ser{
    background: .5rem;
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    border: var(--border);
    padding: 10px 130px;

}
.service .seri{
text-align: center;
padding-bottom: 1rem;
text-shadow: var(--text-shadow);
margin-top: 30px;
padding: 70px;
}

.service .img{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    gap: 1rem;
    padding: 20px;

}

.covid .ins{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: flex;
    background-color: cornflowerblue;
}

.covid .left{
    flex-basis: 60%;
    max-width: 80%;
    margin-left: 20px;

}
.covid .right{
    flex-basis: 40%;
}

.covid .right img{
    height:100%;
    width: 60%;

}

.ques .head{
    text-align: center;
    padding-bottom: 1rem;
    text-shadow: var(--text-shadow);
    margin-top: 30px;

}

.client .kai {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: flex;
    background-color: skyblue;
}


.client .left img {
    height: 70%;
    width: 70%;
}

.client .left{
    flex-basis: 30%;
}

.client .right{
    flex-basis: 40%;
}

.footer{
    text-align: center;
    color: white;
}






.footer .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(18rem, 1fr));
    gap: 1rem;
    color: white;
    text-align: center;
    margin-bottom: 70px;
}

.footer .box-container .box h3{
    font-size: 2rem;
    color: var(--black);
    padding: 1rem 0;
}

.footer .box-container .box a{
    display: block;
    font-size: 1.5rem;
    color: var(--light-color);
    padding: 1rem 0;


}

.footer .box-container .box a:hover i{
    padding-left: 2rem;
}


.footer .credit{
    padding: 1rem;
    padding-top: 2rem;
    margin-top: 2rem;
    text-align: center;
    color: var(--light-color);
    border-top: .1rem solid white;

    
}





.face-sz{
    margin-left: 70px;
}


@media (max-width: 770px){
   
    .btn{
        margin-top: 40px;
        position: relative;
        flex-direction: column;
    
    }
    .btn a{
        margin-bottom: 30px;
        margin-left: 30px;
        margin-top: 444px;
    }
    .about-content{
        flex-basis: 100%;
        margin: 50px 100px;
        margin-left: 30px;
        justify-content: center;
    }

    .abot-image{
        flex-basis: 100%;
        width: 350px;
        position: relative;
    }
    .face-sz{
        height: 329px;
        margin-left: 0px;
    
    }
    .about .Line{
        display: contents;

    }
    


}
@media only screen and (max-width: 850px){
    .navbar{
        padding: 0;
        margin-left: 50px;
        justify-content: center;
    }
    .navbar ul li{
        margin-top: px;
    }
    .logo{
      margin-right: 10px;
      position: absolute;
      align-items: flex-start;
      text-align: center;
      display: none;
      
      
        
    }
    
    .nav-link{
        flex-direction: column;
        width: 100%;
        height: 120vh;
        justify-content: center;
        margin-top: -900px;
        background:#484872;
        

    }
    
    .nnn{
        flex-direction: column;
        width: 100%;
        height: 5vh;
        margin-left: 120px;
        
    }
    .nnn li{
        margin-bottom: 600px;
    }
    .nav-link li{
        margin: 3px 30px;
    }
    .nav-ink ul li{
        display: list-menu;
    }
    .nav-link ul ul{
        display: list-item;
    }
    
    .checkbtn{
        display: block;
    }
    
    .mobile-menu{
        margin-top: 0px;

    }

 
    .credit{
        display: block;
    }
    .credit-row{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        text-align: center;
    }
    
    .credit-left-col{
        width: 300px;
        height: 300px;
        border-radius: 50%;
        flex-basis: 100%;
        text-align: center;

    }
    .credit-left-col img{
        width: 30%;
        position: relative;
    }
    .c-btn{
        margin-top: 20px;
    }
    .covid{
        padding: 0;
        margin: 0;
        display:  block
        ;
    }
    .covid .right{
        flex-basis: 40%;
    }
    .covid .ins{
        display: grid;
        width: 100%;
        text-align: center;

    }
    .covid .right{
        flex-basis: 60%;
        width: 70%;
        height: auto;
    }
    
    .covid .right img{
        height:100%;
        width: 30%;
        flex-basis: 40%;
        position: relative;
    
    }
    .client .kai{
        display: grid;
        
    }
    .client .right{
        justify-content: center;
        text-align: center;
    }
    
        

    
    
    
    
    
    
     
   

    
    
    
    
    

}
@media (max-width: 858px) { 
    
    
      
}

@media (min-width: 576px) { 
      
 }

@media (min-width: 768px) { 

    
 }

@media (min-width: 992px) {  }

@media (min-width: 1200px) { 
    .credit-right-col{
        flex-basis: 50%;
        max-width: 500px;
    }
    .credit-right-col h6{
        color: blue;
        margin-right: 420px;
        margin-bottom: 10px;
    }
    .credit-right-col p{
        margin-bottom: 20px;
    }
    .hg{
        height: 283px;
    }
    .gts{
        margin-left: 550px;
    }
}
