* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins' , sans-serif;

}

body{
    font-family: "Roboto",sans-serif;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
a,
p{
    color: var(--el-color);
}
a{
    text-decoration: none;
}
h1{
    font-size: 2.5rem;
}
h2{
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
}
h3{
    font-weight: 600;
}
p{
    font-weight: 300;
}
.m-t {
    margin-top: 150px;
}
.m-b {
    margin-bottom: 100px;
}

.container {
    width: 60%;
    margin: auto;
    
}
html{
    overflow-x: hidden;
    scroll-padding-top: 7rem;
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-family: 'Roboto' , sans-serif;
}
/* Header Section */

nav{
    background: blue;
    font-family: 'Poppins' sans-serif;
}
nav::after{
    content: '';
    clear: both;
    display: table;
}
nav ul{
    float: right;
    list-style: none;
    margin-right: 40px;
    position: relative;

}
nav ul li{
    
    display: inline-block;
    line-height: 20px;
    

}

nav ul li a{
    color: white;
    line-height: 0px;
    font-size: 18px;
    padding:  30px;
    
}
nav ul li a:hover{
    color: cyan;
    box-shadow: 0 0 5px #33ffff;
}
nav ul ul {
    position: absolute;
    top: 30px;
    opacity: 0;
    visibility:hidden ;
    transition:  top .3s;

    
}
nav ul li:hover > ul{
    top: 50px;
    opacity: 1;
    visibility: visible;
}
nav ul ul li{
    position: relative;
    margin: px;
    width: 150px;
    display: list-item;
    float: none;
    padding: 5px;
}
nav .log{
    float: left;
    color: blue;
    border-radius: 7px;
    font-size: 27px;
    font-weight: 600;
    padding-left: 60px;
    background: white;
    border: 1px solid black;
    padding: 13px 15px;
    margin-left: 30px;


}
.show, input{
    display: none;
}
.icon{
    display: none;
}





.checkbtn{
    cursor: pointer;
    color: white;
    font-size: 30px;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none  ;
}
#check{
    display: none;
}

.dropdwn .btn{
    font-size: 2.5rem;
    border-radius: .5rem;
    background: #eee;
    color: var(--green);
    padding: 1rem 1.5rem;
    cursor: pointer;
    float: right;
}



/*  About */
.about .about-image{
    width: 65%;
    float: right;
    margin-bottom: 30px;
}
.abot-image{
    max-width: 100;
    height: auto;
}
.about .about-content{
   
    text-align: left;
    color: white;
    padding-top: 34px;
}

.about .Line{
    width: 150px;
    height: 6px;

}
.btn{
    margin-top: 30px;
}
.btn input{
    padding: 10px;
    width: 55%;
    border-radius: 10px;
    background-color: blue;
    border: 1px solid white;
}
.btn button{
    padding: 10px;
    
    border: none;
    background-color: red;
    border-radius: 2px;
}


.heading{
    text-align: center;
    padding-bottom: 1rem;
    text-shadow: var(--text-shadow);
}

.selling .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
    gap: 1rem;
    padding: 20px;
}
.selling .box-container .box{
    background: .5rem;
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    border: var(--border);
    padding: 10px;
    border: 1px solid black;
    margin-right: 0px;

}


#credit{
    padding: 100px 50px;
}
.credit-row{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.credit-left-col{
    flex-basis: 30%;

}
.credit-left-col img{
    width: 80%;
}
.c-btn{
    padding: 15px;
    background: red;
    color: white;
    border: 1px solid black;
}

/* Service */

.service {
    text-align: center;
    padding-bottom: 1rem;
    text-shadow: var(--text-shadow);
    margin-top: 30px;
    position: relative;
    max-width: 100%;
}
 
.service .service-box {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 1rem;
    padding: 20px;
    

}


.service .service-box .ser{
    background: .5rem;
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    border: var(--border);
    padding: 10px 20px;

}
.service .seri{
text-align: center;
padding-bottom: 1rem;
text-shadow: var(--text-shadow);
margin-top: 30px;
padding: 70px;
}

.service .img{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    gap: 1rem;
    padding: 20px;

}

.covid .ins{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: flex;
    background-color: cornflowerblue;
}

.covid .left{
    flex-basis: 60%;
    max-width: 80%;
    margin-left: 20px;

}
.covid .right{
    flex-basis: 40%;
}

.covid .right img{
    height:100%;
    width: 60%;

}


.cont{
    width: 100%;
    height: 65vh;
    display: flex;
    font-size: 12px;
    align-items: center;
    
    max-width: 60rem;
    margin: 0 auto;
    padding: 0 1.5rem;
}


.accordion-item{
    background-color: white;
    margin-bottom: 1rem;
    border-radius: .4rem;
    border: 1px solid;
    box-shadow: .5rem 2px .5rem darkslategrey;
}
.accordion-link{
    font-size: 1rem;
    color: black;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
    align-items: center;
    font-family: inherit;
    margin-left: 7px;
    font: bold;

    
    
}
.accordion-link i{
    
    padding: .5rem;
}
.answer{
    max-height: 0;
    overflow: hidden;
    position: relative;
    transition: max-height 650ms;
    
}
.answer::before{
    content: "";
    position: absolute;
    width: .6rem;
    height: 90%;
    top: 50%;
    transform: translate(-50%);
}
.answer p{
    font-size: rem;
    padding: 1rem;
}
.accordion-item:target .answer{
    max-height: 18rem;
}
.accordion-item:target .accordion-link .i{
    display: none;
}

.client .kai {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: flex;
    background-color: skyblue;
}


.client .left img {
    height: 70%;
    width: 70%;
}

.client .left{
    flex-basis: 30%;
}

.client .right{
    flex-basis: 40%;
}

.footer{
    text-align: center;
    color: white;
}






.footer .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(18rem, 1fr));
    gap: 1rem;
    color: white;
    text-align: center;
    margin-bottom: 70px;
}

.footer .box-container .box h3{
    font-size: 2rem;
    color: var(--black);
    padding: 1rem 0;
}

.footer .box-container .box a{
    display: block;
    font-size: 1.5rem;
    color: var(--light-color);
    padding: 1rem 0;


}

.footer .box-container .box a:hover i{
    padding-left: 2rem;
}


.footer .credit{
    padding: 1rem;
    padding-top: 2rem;
    margin-top: 2rem;
    text-align: center;
    color: var(--light-color);
    border-top: .1rem solid white;

    
}





.face-sz{
    margin-left: 70px;
}


@media (max-width: 770px){
   
    .btn{
        margin-top: 40px;
        position: relative;
        flex-direction: column;
    
    }
    .btn a{
        margin-bottom: 30px;
        margin-left: 30px;
        margin-top: 444px;
    }
    .about-content{
        flex-basis: 100%;
  
        justify-content: center;
    }

    .abot-image{
        flex-basis: 100%;
   
        position: relative;
    }
    .face-sz{
        height: 329px;
        margin-left: 0px;
    
    }
    .about .Line{
        display: contents;

    }
    
    


}

@media all  and (max-width: 968px){
    nav ul{
        margin-right: 0px;
        float: left;
    }
    nav .log{
        padding-right: 20px;
    }
    nav ul li, nav ul ul li{
        display: block;
        width: 100%;
        padding: 10px;
    }
    nav ul ul{
        top: 70px;
        position: static;
        border-top: none;
        float: none;
        display: none;
        opacity: 1;
        visibility: visible;
    }
    nav ul ul a{
        padding-left: 40px;
    }
    nav ul ul li{
        border-bottom: 0px;
    }
    .show{
        display: block;
        color: white;
        font-size: 18px;
        padding: 0 30px;
        line-height: 40px;
        cursor: pointer;
    }
    
    
    .show:hover{
        color: cyan;
    }
    .icon{
        display: block;
        color: white;
        position: absolute;
        font-size: 25px;
        line-height: 70px;
        cursor: pointer;
    }
    nav ul li a:hover{
        box-shadow: none;
    }
    .show + a, ul{
        display: none;
    }
    [id^=btn]:checked + ul{
        display: block;
    }
}
    
@media only screen and (max-width: 850px){

   
    
    .checkbtn{
        display: block;
    }
    
    

 
    .credit{
        display: block;
    }
    .credit-row{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        text-align: center;
    }
    
    .credit-left-col{
        width: 300px;
        height: 300px;
        border-radius: 50%;
        flex-basis: 100%;
        text-align: center;

    }
    .credit-left-col img{
        width: 30%;
        position: relative;
    }
    .c-btn{
        margin-top: 20px;
    }
    .covid{
        padding: 0;
        margin: 0;
        display:  block
        ;
    }
    .covid .right{
        flex-basis: 40%;
    }
    .covid .ins{
        display: grid;
        width: 100%;
        text-align: center;

    }
    .covid .right{
        flex-basis: 60%;
        width: 70%;
        height: auto;
    }
    
    .covid .right img{
        height:100%;
        width: 30%;
        flex-basis: 40%;
        position: relative;
    
    }
    .client .kai{
        display: grid;
        
    }
    .client .right{
        justify-content: center;
        text-align: center;
    }
    .service{
        max-width: 100%;
        
    }
    .ser{
        display: grid;
        justify-content: center;

    }
    .ser h1, h4,p{
        display: block;
        position: relative;
        text-align: justify;
    }
    

    


    
        

    
    
    
    
    
    
     
   

    
    
    
    
    

}
@media (max-width: 858px) { 
    
    
      
}

@media (min-width: 576px) { 
      
 }

@media (min-width: 768px) { 

    
 }

@media (min-width: 992px) {  }

@media (min-width: 1200px) { 
    .credit-right-col{
        flex-basis: 50%;
        max-width: 500px;
    }
    .credit-right-col h6{
        color: blue;
        margin-right: 420px;
        margin-bottom: 10px;
    }
    .credit-right-col p{
        margin-bottom: 20px;
    }
    .hg{
        height: 283px;
    }
    .gts{
        margin-left: 550px;
    }
}
